:root {
    --color-yellow: #ffff00;
    --color-red: #ff0000;
    --color-blue: #0000ff;
    --color-green: #008000;
    --color-ash: #808080;
}
* {
    font-family: sans-serif, Arial;
}
.Google {
    font-size: 50px;
    text-align: center;
    margin-top: 12%;
}
#G {
    color: var(--color-blue);
}
#o {
    color: var(--color-red);
}
#oi {
    color: var(--color-yellow);
}
#gi {
    color: var(--color-blue);
}
#l {
    color: var(--color-green);
}
#e {
    color: var(--color-red);
}
form {
    text-align: center;
}
.linker {
    display: inline;
}
footer {
 margin-top: 10%;   
}
#works, #climate, #terms {
    display: flexbox;
}
